#img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-image: url(./assets/img/arcko.jpg);
    background-size: contain;
    position: relative;
}

#img::before {
    content: "";
    background-image: url(./image.psd.jpg);
    background-size: contain;
    /* background-image: linear-gradient(blue); */
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    /* animation: shine 5s ease-in-out infinite; */

    mask-image: linear-gradient(120deg, #0000 0% 35%, #000f 47.5% 52.5%, #0000 65% 100%);
    mask-size: 500% 100%;
    animation: shiny 20s ease-in-out infinite;
}

@keyframes shine {
    0% {
        clip-path: polygon(160% 0, 210% 0, 150% 100%, 100% 100%);
    }

    100% {
        clip-path: polygon(-50% 0, 0 0, -60% 100%, -110% 100%);
    }
}

@keyframes shining {
    0% {
        mask-image: linear-gradient(120deg, rgb(0 0 0 / 0) 0%,  rgb(0 0 0 / 1) 120%, rgb(0 0 0 / 0) 140%);
    }
    100% {
        mask-image: linear-gradient(120deg, rgb(0 0 0 / 0) -40%, rgb(0 0 0 / 1) -20%,  rgb(0 0 0 / 0) 100%);
    }
}

@keyframes shiny {
    80% {
        mask-position: left;
    }
    100% {
        mask-position: right;
    }
}

#thibaud {
    background: blue;
    height: 120px;
    width: 300px;
    border-top-left-radius: 20px;
    clip-path: polygon(0 0, 65% 0, 70% 10%, calc(100% - 5px) 10%, 100% calc(10% + 5px), 100% calc(100% - 5px), calc(100% - 5px) 100%, 5px 100%, 0 calc(100% - 5px));
}