:root {
    --bg-color: #06b078;
    --bg-grid-color: #008060;
    --header-bg: #181818;
    --light-accent: #90e818;
    --medium-accent: #008060;

    --light-box-bg: #e8e8e8;
    --light-gray: #d8d8d8;
    --dark-box-bg: #383838;

    --border-accent: #103830;
    --grey-box-bg: #909090;

    /* --text-shadow: 1px 1px 0 var(--text-shadow-color), 0px 1px 0 var(--text-shadow-color), 1px 0px 0 var(--text-shadow-color); */

    --light-text-color: #fff;
    --light-text-shadow: 1px 1px 0 #707070, 0px 1px 0 #707070, 1px 0px 0 #707070;
    --light-text-shadow-big: 2px 2px 0 #707070, 0px 2px 0 #707070, 2px 0px 0 #707070;

    --dark-text-color: #585050;
    --dark-text-shadow: 1px 1px 0 #858287, 0px 1px 0 #858287, 1px 0px 0 #858287;
}

* {
    letter-spacing: calc(progress(1em, 18px, 48px) * -0.025em);
}

body {
    margin: 0;
    overflow-x: hidden;

    background-color: var(--bg-color);
    background-image: linear-gradient(var(--bg-grid-color) 2px, transparent 1px), linear-gradient(to right, var(--bg-grid-color) 2px, transparent 1px);
    background-size: 20px 20px;
    background-position: 0px;
    animation: bg_sliding 6s linear infinite;

    font-family: "Pokemon BW";
    /* height: 2000px; */
    min-height: 100vh;
    padding-bottom: 100px;
}

html {
    overflow-x: hidden;
    font-size: 1.3rem;
    line-height: 1em;
}

.box_decoration__shadow {
    height: 12px;
    width: 80px;
    background: rgba(66, 66, 66, 0.4);
    position: absolute;
    top: -16px;
    left: -4px;
    clip-path: polygon(0 0, calc(100% - 12px) 0, 100% 100%, 100% 200%, 0 200%);

    .box_decoration {
        height: 12px;
        width: calc(100% - 4px);
        background: var(--header-bg);

        margin-top: 2px;
        margin-left: 2px;
        clip-path: polygon(0 0, calc(100% - 11px) 0, 100% 100%, 0 100%);
        display: flex;
        justify-content: end;
        align-items: center;

        .box_decoration__lines {
            margin-right: 6px;
            width: 18px;
            height: 75%;

            background-image: linear-gradient(to right, var(--light-accent) 3px, transparent 1px);
            background-size: 6px 80%;
            transform: skew(45deg);
        }

        /* 
        background-image:
            linear-gradient(to right, var(--header-bg), var(--header-bg)),
            linear-gradient(to right, var(--bg-grid-color) 4px, transparent 1px);
        background-size: 20px 20px;
        background-repeat: no-repeat, repeat;
        background-position:
            left,
            right; */

        /* background: 
            linear-gradient(to right, var(--header-bg), var(--header-bg)) left no-repeat,
            linear-gradient(to right, var(--light-accent) 2px, var(--header-bg) 1px) right repeat;
        background-size: 4px 100%; */
    }
}


.header {
    margin-top: 12px;
    height: 2.4rem;
    background-color: var(--header-bg);
    border-top: 2px solid var(--light-accent);
    border-bottom: 2px solid var(--light-accent);
    box-shadow: 0 0 0 3px var(--header-bg);
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    align-items: center;
    gap: 20px;
    width: 101vw;

    h1 {
        color: var(--light-text-color);
        margin: 0 0 0 0;
        font-size: 2rem;
        text-shadow: var(--light-text-shadow-big);
        font-weight: 400;
    }

    .header__lines {
        height: 84%;

        background-image: linear-gradient(to right, var(--bg-grid-color) 4px, transparent 1px);
        background-size: 12px 10px;
        transform: skew(25deg);
    }
}

.me {
    position: relative;

    .me__bg_wrapper_wrapper {
        margin-top: 23px;
        clip-path: polygon(0 0, 34% 0, calc(34% + 7px) 10%, 100% 10%, 100% 100%, calc(10% + 7px) 100%, 10% 90%, 0 90%);
        height: 150px;
        width: 100vw;
        background: var(--bg-grid-color);

        .me__bg_wrapper {
            clip-path: polygon(0 2px, calc(34% - 2px) 2px, calc(34% + 5px) calc(10% + 2px), 100% calc(10% + 2px), 100% calc(100% - 2px), calc(10% + 9px) calc(100% - 2px), calc(10% + 2px) calc(90% - 2px), 0 calc(90% - 2px));
            background: var(--border-accent);
            height: 100%;
            width: 100%;
            position: relative;

            .me__bg {
                clip-path: polygon(0 4px, calc(34% - 4px) 4px, calc(34% + 3px) calc(10% + 4px), 100% calc(10% + 4px), 100% calc(100% - 4px), calc(10% + 11px) calc(100% - 4px), calc(10% + 4px) calc(90% - 4px), 0 calc(90% - 4px));
                height: 100%;
                width: 100%;
                position: relative;
                background: url(./assets/img/graduations-horr.png) repeat-x 0px 20px, url(./assets/img/graduations-horr.png) repeat-x 0px 124px, url(./assets/img/graduations-verr.png) repeat-y 0px 0px;
                background-color: var(--grey-box-bg);
                animation: me__bg_slide 6s linear infinite;
                /* image-rendering: optimizeSpeed; */

                .me__bg__line {
                    height: 12px;
                    width: 5px;
                    background: #727272;
                    position: absolute;
                    transform: skew(25deg);
                    border-radius: 15%;
                }

                .me__bg__line1 {
                    left: calc(34% - 8px);
                    top: 6px;
                }

                .me__bg__line2 {
                    left: calc(10% + 9px);
                    top: 133px;
                }
            }
        }
    }

    .me__img {
        height: 80px;
        border-radius: 100%;
        position: absolute;
        left: 14%;
        top: calc(50% - 40px);
    }

    .me__box {
        background: var(--light-box-bg);
        height: 170px;
        width: 53%;
        position: absolute;
        left: 44%;
        top: 0px;
        box-sizing: border-box;
        border: solid 2px var(--header-bg);
        box-shadow: 0 0 0 2px rgba(66, 66, 66, 0.4), inset 0 0 0 2px #a8a8a8;
        color: var(--dark-text-color);
        text-shadow: var(--dark-text-shadow);
        padding: 2px;
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 10px;
        /* filter: drop-shadow(1px 1px rgba(0, 0, 0, 0.4)) drop-shadow(1px -1px rgba(0, 0, 0, 0.4))
        drop-shadow(-1px 1px rgba(0, 0, 0, 0.4)) drop-shadow(-1px -1px rgba(0, 0, 0, 0.4)); */

        .box_decoration__shadow {
            width: 17.5vw;
            /* left: calc(-0.1vw - 3px); */
        }

        header {
            background: var(--light-gray);
            padding: 2px 0 3px 2px;
            font-size: 1.3rem;
        }

        h2 {
            font-size: 1.1em;
            line-height: 0.85em;
            margin: 0 3px;
            font-weight: 400;
        }

        .square_back {
            height: round(30%, 7px);
            width: 100%;
            background-color: var(--light-gray);
            background-image: linear-gradient(var(--light-box-bg) 2px, transparent 1px), linear-gradient(to right, var(--light-box-bg) 2px, transparent 1px);
            background-size: 7px 7px;
            text-align: end;

            span {
                margin-right: 3px;
            }
        }

        .me__box__other {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;
            padding: 8px 0;
            gap: 8px;

            .me__box__other__info {
                width: 94%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 3%;
                background: var(--light-gray);
                height: 7px;
                width: 90%;
                border-radius: 5px;

                span:nth-child(odd) {
                    text-transform: uppercase;
                    margin-left: 10px;
                }
            }
        }


    }

}

#me_tab {

    p {
        border-top: solid 2px var(--header-bg);
        border-bottom: solid 2px var(--header-bg);
        box-shadow: 0 0 0 2px var(--bg-grid-color);
        color: var(--light-text-color);
        text-shadow: var(--light-text-shadow);
        font-size: 1rem;
        padding: 26px 8px 8px 20px;
        margin: 0;
        padding-top: 30px;
        margin-top: -22px;
        background: var(--dark-box-bg);
    }


    .section__header {
        background: var(--header-bg);
        color: var(--light-text-color);
        height: 3rem;
        clip-path: polygon(0 0, 100% 0, 100% 77%, calc(100% - 120px) 77%, calc(100% - 170px) 100%, 0 100%);
        clip-path: polygon(0 23%, 120px 23%, );

        h2 {
            margin: 4px 8px;
            text-shadow: var(--light-text-shadow-big);
            line-height: 2em;
        }
    }

    .section__header::before {
        content: "";
        position: absolute;
        height: 3rem;
        width: 100%;
        clip-path: polygon(0 calc(100% - 4px), calc(100% - 170px) calc(100% - 4px), calc(100% - 120px) calc(77% - 4px), 100% calc(77% - 4px), 100% calc(77% - 2px), calc(100% - 120px) calc(77% - 2px), calc(100% - 170px) calc(100% - 2px), 0 calc(100% - 2px));
        /* clip-path: polygon(0 23%, 100% 0, 100% 100%, 0 100%); */
        background: var(--light-accent);
    }

}


.tab {
    display: flex;
    flex-direction: column;
    background: rgb(0 0 0 / 0.5);
    /* height: 50vh; */

    overflow: visible;
    position: relative;
    border-top: solid 2px var(--bg-grid-color);
    margin-top: 32px;

    .box_decoration__shadow {
        width: 28vw;
        top: -14px;
        background: var(--bg-grid-color);
    }

    .tab__header {
        background: var(--header-bg);
        color: var(--light-text-color);
        height: 2rem;
        clip-path: polygon(0 0, 100% 0, 100% 65%, calc(100% - 120px) 65%, calc(100% - 170px) 100%, 0 100%);

        h2 {
            margin: 4px 8px;
            text-shadow: var(--light-text-shadow-big);
            line-height: 1em;
        }
    }

    .tab__header::before {
        content: "";
        position: absolute;
        height: 2rem;
        width: 100%;
        clip-path: polygon(0 calc(100% - 4px), calc(100% - 170px) calc(100% - 4px), calc(100% - 120px) calc(65% - 4px), 100% calc(65% - 4px), 100% calc(65% - 2px), calc(100% - 120px) calc(65% - 2px), calc(100% - 170px) calc(100% - 2px), 0 calc(100% - 2px));
        background: var(--light-accent);
    }

    .tab__item {
        background: #4a4a4a;
        border-top: #949494 2px solid;
        border-bottom: #949494 2px solid;
        box-shadow: 0 1.5px 0 #181818, 0 -1.5px 0 #181818, inset 0 1.5px 0 #181818, inset 0 -1.5px 0 #181818;
        text-shadow: var(--dark-text-shadow);
        color: var(--dark-text-color);
        margin-top: 10px;
        padding: 10px 0;

        background: url(./assets/img/graduations-verr.png) repeat-y 2px 0px, url(./assets/img/graduations-verr.png) repeat-y calc(100% - 3px) 0px var(--grey-box-bg);
        border-top: 2px solid var(--border-accent);
        border-bottom: 2px solid var(--light-accent);
        border-top: 2px solid var(--light-accent);
        box-shadow: 0 1.5px 0 var(--border-accent), 0 -1.5px 0 var(--border-accent), inset 0 1.5px 0 var(--border-accent), inset 0 -1.5px 0 var(--border-accent);

        h3,
        p,
        time,
        span,
        ul {
            background: var(--light-box-bg);
            width: 90%;
            /* margin: 10px auto; */
            /* padding: 2px 15x; */
            padding: 1px 8px;
            box-sizing: border-box;
        }

        .tab__item__header {

            h3 {
                clip-path: polygon(0 50%, 5px 0, calc(100% - 5px) 0, 100% 50%, calc(100% - 5px) 100%, 5px 100%);
                width: 93%;

                font-size: 1.2rem;
                line-height: 100%;
                font-weight: normal;

                margin: 0 auto;
                padding: 2px 8px;
            }

            div {
                display: flex;
                width: 90%;
                /* clip-path: polygon(0 0, 100% 0, calc(100% - 10px) 100%, 10px 100%); */
                margin: 5px auto;
                gap: 5px;

                time,
                span {
                    /* background-image: linear-gradient(to bottom, var(--light-gray), var(--light-box-bg)); */
                    font-size: 0.9rem;
                    /* padding: 2px 8px; */
                    padding: 0 8px;
                    /* background: none; */
                }

                time {
                    /* margin-top: 3px;
                    margin-left: 2.5%; */
                    width: fit-content;
                    text-wrap: nowrap;
                    /* padding-left: 12px;
                    padding-right: 5px; */
                }

                span {
                    /* padding-left: 5px; */
                    text-align: center;
                    font-style: italic;
                }
            }
        }


        p {
            margin: 0 auto;
            font-size: 1rem;
            line-height: 1;
            /* font-family: Arial, Helvetica, sans-serif; */
        }

        ul {
            list-style: none;
            margin: 0 auto;
            font-size: 1rem;
            line-height: 1;
        }
    }

    .tab__item:first-of-type {
        padding-top: 30px;
        margin-top: -22px;
    }
}

#skills_tab {
    h3 {
        font-size: 1.3rem;
        margin: 0;
    }

    ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 8px;
        text-shadow: var(--light-text-shadow);

        li {
            font-size: 1.15rem;
            color: var(--light-text-color);
            height: 1.9rem;
            line-height: 1.9rem;
            background-color: var(--header-bg);
            padding: 4px 8px;
            padding-left: 75px;
            margin: 0 17px;
            clip-path: polygon(10px 0, 100% 0, calc(100% - 20px) 100%, 10px 100%, 0 50%);
            animation: list_light 10s infinite backwards;
        }

        li::before {
            content: "";
            display: block;
            width: 60px;
            height: 1.9rem;
            background: var(--light-accent);
            margin-left: -70px;
            position: absolute;
            clip-path: polygon(9px 0, 12px 0, 3px 50%, 12px 100%, 9px 100%, 0 50%, 9px 0,
                    48px 0, 51px 0, 60px 50%, 51px 100%, 48px 100%, 57px 50%, 48px 0);
        }

        li::after {
            content: "";
            display: block;
            width: 50px;
            height: 1.7rem;
            position: absolute;
            left: 27px;
            margin-top: -1.9rem;
            background-image: url(./assets/img/java-plain.svg);
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }
    }
}

@keyframes list_light {
    90% {
        background-color: var(--header-bg);
        color: var(--light-text-color);
        text-shadow: var(--light-text-shadow);
    }

    91.5% {
        background-color: #315a10;
        color: #d6ff7b;
        text-shadow: 1px 1px 0 var(--light-accent), 0px 1px 0 var(--light-accent), 1px 0px 0 var(--light-accent);
    }

    100% {
        background-color: #315a10;
        color: #d6ff7b;
    }
}

nav {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-image: linear-gradient(to bottom,
            #606060 0% 6.25%,
            #5a5a5a 6.25% 12.5%,
            #545454 12.5% 18.75%,
            #4e4e4e 18.75% 25%,
            #484848 25% 31.25%,
            #424242 31.25% 37.5%,
            #3c3c3c 37.5% 43.75%,
            #363636 43.75% 50%,
            #303030 50% 56.25%,
            #2a2a2a 56.25% 62.5%,
            #242424 62.5% 68.75%,
            #1e1e1e 68.75% 75%,
            #181818 75% 81.25%,
            #121212 81.25% 87.5%,
            #0c0c0c 87.5% 93.75%,
            #060606 93.75% 93.75%);
    border-top: 2px solid var(--header-bg);
    border-bottom: 2px solid var(--header-bg);
    box-sizing: border-box;
    padding: 8px 0;

    ul {
        list-style: none;
        margin: 1px;
        padding: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        li {
            clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0 50%);
            height: 2.4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 14ch;
            background: #2a2a2a;

            div {
                clip-path: inherit;
                background: var(--light-gray);
                height: 94%;
                width: 96%;
                display: flex;
                justify-content: center;
                align-items: center;

                button {
                    clip-path: inherit;
                    display: block;
                    height: 92%;
                    width: 95%;
                    line-height: 2rem;
                    color: var(--light-text-color);
                    text-align: center;
                    font-size: 1rem;
                    background-color: var(--header-bg);
                    pointer-events: auto;
                    font-family: "Pokemon BW";
                    border: none;
                }
            }
        }

        li:has(button:hover, button:active),
        li.active {
            background: var(--dark-box-bg);

            div {
                background-color: var(--light-text-color);

                button {
                    color: var(--light-text-color);
                    background-color: var(--dark-box-bg);
                }
            }
        }

    }
}

@keyframes bg_sliding {
    100% {
        background-position: -180px;
    }
}

@keyframes me__bg_slide {
    0% {
        background: url(./assets/img/graduations-horr.png) repeat-x 0px 20px, url(./assets/img/graduations-horr.png) repeat-x 0px 124px, url(./assets/img/graduations-verr.png) repeat-y 0px 0px;
        background-color: var(--grey-box-bg);
    }

    100% {
        background: url(./assets/img/graduations-horr.png) repeat-x -180px 20px, url(./assets/img/graduations-horr.png) repeat-x -180px 124px, url(./assets/img/graduations-verr.png) repeat-y 0px 0px;
        background-color: var(--grey-box-bg);
    }
}

@font-face {
    font-family: "Pokemon BW";
    src: url('./assets/fonts/pokemon-bw.otf.woff2');
}